@import url('https://fonts.googleapis.com/css?family=Comfortaa:700&display=swap');

body {
  background: #4F7CAC;
  color: #02020A;
  font-family: Helvetica, "Open Sans", Arial, sans-serif;
}

.widget-search__form {
  background: #4F7CAC;
}

.sidebar {
  background: #e3ebef;
}

.btn {
  background: #4F7CAC;
}

.logo {
  background: #D8DDEF;
  font-family: 'Comfortaa', Helvetica, "Open Sans", Arial, sans-serif;
}

.logo__tagline {
  border-top: 1px solid #3423A6;
}

.logo__link {
  text-transform: none;
  text-align: center;
}

.caption {
  font-size: x-small;
  font-style: italic;
  text-align: center;
}

.list__thumbnail {
  float: right;
  padding: 0px 15px;
  max-width: 50%;
}

.widget {
  margin-left: 10px;
  margin-right: 10px;
}

.widget-search {
  margin-left: 0px;
  margin-right: 0px;
}

table.striped tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

table.striped {
  border: 2px solid #FFF;
}

table.striped th {
  border: 2px solid #FFF;
  background-color: #e3ebef;
}

table.striped td {
  border: 2px solid #FFF;
}
