{{ $imgname := .Get "src" }}
{{ $float := .Get "float" }}
{{ $caption := .Get "caption" }}
{{ $link := .Get "link" }}
{{ with .Site.GetPage "section" "media" }}
  {{ $original := .Resources.GetMatch $imgname }}
  {{ $imgscratch := newScratch }}
  {{ $imgscratch.Set "image100" ($original.Resize "100x") }}
  {{ $imgscratch.Set "image200" ($original.Resize "200x") }}
  {{ $imgscratch.Set "image300" ($original.Resize "300x") }}
  {{ $imgscratch.Set "image500" ($original.Resize "500x") }}
  {{ $imgscratch.Set "image800" ($original.Resize "800x") }}
  {{ $imgscratch.Set "image1300" ($original.Resize "1300x") }}
  {{ $imgscratch.Set "image2100" ($original.Resize "2100x") }}
  {{ $image100 := $imgscratch.Get "image100" }}
  {{ $image200 := $imgscratch.Get "image200" }}
  {{ $image300 := $imgscratch.Get "image300" }}
  {{ $image500 := $imgscratch.Get "image500" }}
  {{ $image800 := $imgscratch.Get "image800" }}
  {{ $image1300 := $imgscratch.Get "image1300" }}
  {{ $image2100 := $imgscratch.Get "image2100" }}
  <a href="{{ with $link }} {{.}} {{ else }} {{ $original.RelPermalink }} {{ end }}">
    <figure style="
      {{ with $float }} width: 33% {{ else }} width: 100%; {{ end }};
      height: auto;
      padding: 5px 15px;
      {{ with $float }}float: {{.}};{{end}}"
    >
  	<img
      srcset="
        {{ $image100.RelPermalink }} 100w,
        {{ $image200.RelPermalink }} 200w,
        {{ $image500.RelPermalink }} 500w,
        {{ $image800.RelPermalink }} 800w,
        {{ $image1300.RelPermalink }} 1300w,
        {{ $image2100.RelPermalink }} 2100w,
        {{ $original.RelPermalink }} {{ $original.Width }}w
      "
      sizes="
        {{ with $float }}
          (min-width: 768px) calc(.333 * .333 * 100vm),
          (max-width: 767px) calc(.333 * 100vm),
          100vm
        {{ else }}
          (min-width: 768px) calc(.333 * 100vm),
          (max-width: 767px) 100vm,
          100vm
        {{ end }}
      "
      src="{{ $original.RelPermalink }}">
    	{{ with $caption }}
        <figcaption class="caption">{{.}}</figcaption>
      {{ end }}
    </figure>
  </a>
{{ end }}
